#root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
@import "tailwindcss";
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

.animate-scroll-left {
  animation: scroll-left 25s linear infinite;
}
